<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 主配置文件 -->
    <context:annotation-config/>

    <context:component-scan base-package="org.sagesource">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 初始化SpringHolder -->
    <bean class="org.sagesource.common.utils.SpringContextHolder" lazy-init="false"/>

    <!-- 将Spring其他组件的配置在这里进行引入即可 -->
    <import resource="applicationContext-dataSource.xml"/>
    <import resource="applicationContext-mybatis.xml"/>

    <!-- Spring Session -->
    <import resource="applicationContext-springsession.xml"/>
    <!-- Spring Redis -->
    <import resource="applicationContext-redis.xml"/>

    <!-- 根据环境读取配置文件 -->
    <beans profile="development">
        <context:property-placeholder
                location="classpath:properties/development/*.properties,classpath:properties/application.properties"/>
    </beans>
    <beans profile="integrationtest">
        <context:property-placeholder
                location="classpath:properties/integratetest/*.properties,classpath:properties/application.properties"/>
    </beans>
    <beans profile="production">
        <context:property-placeholder
                location="classpath:properties/production/*.properties,classpath:properties/application.properties"/>
    </beans>
</beans>